@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,300;1,500&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,800;1,300;1,400&display=swap');

*,
::before,
::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size:10px;
}
body{
    font-family: 'open sans', sans-serif;
    font-size: 1.6rem;
    color: #2d2c2c;
    /* overflow-x: hidden; */
}
a{
    text-decoration: none;
    color: inherit;
}
ul{
    list-style: none;
}

header{
    width: 100%;
    height: 6rem;
    display: flex;
    align-items: center;
    background: transparent;
    z-index: 999;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    max-width: 80%;
}
.hamburger{
    font-size: 2.6rem;
    color:#1545b3;
    cursor: pointer;
    position: relative;
    z-index: 1500;
}
.hamburger .fa-times{
    display: none;
}
.nav-list{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 1400;
    opacity: 0;
    transform: scale(0);
    transition: opacity .5s;
}
.menu-open .nav-list{
    opacity: 1;
    background-color: #fff;
    transform: scale(1);
}
.menu-open .hamburger .fa-times{
    display: block;
}
.menu-open .hamburger .fa-bars{
    display: none;
}

.nav-item:not(:last-child){
    margin-bottom: .5rem;
}
.nav-link{
    display: block;
    text-transform: uppercase;
    font-size: 2rem;
    color:#0f4eec;
    letter-spacing: 1.5px;
    padding: .5rem;
    margin: 1rem;
}
.nav-link::before{
    height: 2rem;
    background: #0f4eec;
}
/* hero section */
 
.hero-img{
    width: 60%;
}
.hero-tagline{
    font-size:7rem;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 700;
    color: #0f4eec;
}
.hero-tagline span{
    color: #09318f;
}
.btn-tagline{
    background-color: #0f4eec;
    color: #fff;
    padding: 1rem; 
    border: none;
    outline: none;
    border-radius: 10px;
}
.btn-tagline:hover{
    background: transparent;
    color: #0f4eec;
    border: 1px solid #0f4eec;
}

/* team */
.team{
    padding-block: 5rem;
}
.team p{
   font-family: 'Josefin Sans', sans-serif;
   font-size: x-large;
}
.team h1{
    font-size: 6rem;
    color:#253fd1;
    font-family:'open sans', sans-serif ;
}
.team-img img{
    border-radius: 50%;
    width: 350px;
    height: 350px;
    object-fit: cover;
    border: 5px solid #253fd1;
    padding: 10px;
}

/* about section */
.about{
    background-color: rgb(31, 31, 211);
    color: #fff;
    font-size: larger;
    font-family:'josefin sans', sans-serif;
}
.about h1{
    font-weight: bolder;
}
.about-image img{
    width: 75%;
    border-radius: .5rem;
}
.about i{
    padding-right: .5rem;
}
.btn{
    padding: .8rem;
    background: #fff;
    font-size: 2rem;
    border: none;
    color:#1545b3;
    border-radius: 5px;
    cursor: pointer;
}
.btn:hover{
    background: transparent;
    color: #fff;
}
/* features section */
.features{
    min-height: 100vh;
    background-color:#f1f1f1;
    padding-block: 5rem;
}
 .features h1{
    color:#09318f;
    font-weight: bolder;
} 
.features-image{
    text-align: center;
    flex:1 1 30rem;
}
.features-image img{
    width:65%;
    padding: 3rem 0;
}
.box{
   padding: 2rem;
   margin-block:1rem;
    background-color: #fff;
    color:#09318f;
    border-radius: .5rem;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
}
.box:hover{
    background: #253fd1;
    color: #fff;
}
.features i{
margin:1rem;
font-size:2.6rem;
}
.features i:hover{
    color: #fff;
}
.features h3{
    font-weight: bold;
}


/* clients */
.client-logo{
    padding: 64px;
    align-items: center;
    justify-content: center;
    border: 1px solid #d6eaff;
    background-color: #f5f7fa;
    
  }
  
  .client-logo:hover{
    outline: 8px solid #9ba0b6;
    outline-offset: 14px;
    transition: 0.5s;
  }

/* contact section */
 .contact{
    height: 90vh;
    font-family: 'josefin sans', sans-serif;
    display: flex;
     align-items: center; 
    justify-content: center;
    flex-wrap: wrap;  
    background-color:#ecf5ff;
    padding-block: 2rem;
} 
.contact form{
    background-color:#fff;
    padding: 2rem;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3);
} 
 .contact-input{
    height: 8rem;
    width: 100%;
    border: none;
    border-bottom: 1px solid #333;
    background: none;
    font-size: 2rem;
    margin: 1rem 0;
    color: #09318f;
    text-transform: none;
    outline: none;
}
.contact textarea{
    height: 15rem;
    width: 100%;
    border: none;
    border-bottom: .1rem solid #333;
    background: none;
    font-size: 2rem;
    margin: 1rem 0;
    color: #09318f;
    text-transform: none;
    resize: none;
    outline: none;
    padding: 1rem;
}
.contact .btn{
width: 100%;
background: #1545b3;
color: #fff;
}
.contact .btn:hover{
    background-color: white;
    color: #253fd1;
}
.contact-input::placeholder,.contact-input textarea::placeholder{
    text-transform:capitalize;
}
.contact-input:focus,.contact-input textarea:focus{
    border-bottom:1px solid #0f4eec;
}
.contact-content{
    padding: 3rem;
}
.contact-content h3{
    font-size: 4rem;
    color:#09318f;
}
.contact-content p{
    font-size: 2.4rem;
    color: #09318f;
    padding: 1rem 0;
}
.icon{
    display: flex;
    align-items: center;
    color: #09318f;
    cursor: pointer;
}
.icon p{
    font-size: 1.9rem;
    color: #09318f;
    font-weight: bold;
}
.icon i{
    font-size: 2rem;
    padding-right: 2rem;
}  

#myBtn{
display: none; 
  position: fixed; 
  bottom: 20px; 
  right: 30px;
  z-index: 99; 
  border: none;
  outline: none; 
  background-color:#0f4eec;
  color: white; 
  cursor: pointer;
  padding: 15px; 
  border-radius: 10px;
  font-size: 18px; 
}


/* product section */
.product{
    font-size: large;
}
.btn-primary:hover{
    background-color: #0f4eec;
    color: #fff;
}



 @media screen and (min-width: 1000px){
    .hamburger{
        display: none;
    }
    .nav-list{
     position: initial;
     height: initial;
     width: initial;
     flex-direction: row;
     justify-content: initial;
     opacity: 1;
     transform: scale(1);
    }
}
 @media screen and (max-width: 576px){
    .team-img img{
        height: 200px;
        width: 200px;
    }
    .contact form{
        width: 60%;
        margin: 0 auto;
    }
    }
 @media screen and (max-width: 768px){
    .contact form{
        width: 80%;
        margin: 0 auto;
    } 
    .hero-tagline{
        font-size: 4rem;
        margin: 3rem;
    }
    .hero-img{
        width: 70%;
    }
    .btn-tagline{
        margin: 3rem;
    }
    body{
        margin-bottom: 15rem;
    }
 } 


